Discgolf-app.xcodeproj/project.xcworkspace/xcuserdata/glenn.xcuserdatad/UserInterfaceState.xcuserstate
Discgolf-app.xcodeproj/xcuserdata/glenn.xcuserdatad/xcdebugger/
Discgolf-app/Assets.xcassets/.DS_Store
